# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
+ List popular languages for Data Science
+ Some of data Science Tools
+ Some of the commonly used libraries used by Data Scientists

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. sql

Some of the commonly used libraries used by Data Scientists include:
1. numpy
2. pandas
3. matplotlib
4. Scikit-learn
5. Tensorflow

|Data Science Tools |
|-------------------|
|1. PostgreSQL      |
|2. Rstudio  |
|3. Jupyter Notebooks |

### Below are a few examples of evaluating arithmetic expressions in Python
1. add = 5+4
2. sub = 5-4
3. div = 9/3

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author ##
Ammar